<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
    TF:         static + 1 dynamic transform
    BRIDGE:     roslaunch rosbridge_server rosbridge_websocket.launch
-->
<launch>
  <!-- tf -->
  <include file="$(find lgsvl_nissanleaf_ros)/launch/tf.launch" />
  
  <!-- bridge -->
  <include file="$(find lgsvl_nissanleaf_ros)/launch/bridge.launch" />
</launch>