<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
    TF:         static + 1 dynamic transform
    MODEL:      vehicle_model for rviz in 3d
-->
<launch>
  <!-- tf -->
  <include file="$(find lgsvl_nissanleaf_ros)/launch/tf.launch" />

  <!-- model -->
  <include file="$(find lgsvl_nissanleaf_ros)/launch/model.launch" />

</launch>